.root-container {
	background-color: #151a28;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: white;
}

.main-text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	/* border: solid white; */
}

.main-text {
	color: whitesmoke;
	font-size: 3.5vw;
	margin: 1%;
	font-family: Helvetica;
}

.navigation {
	flex-grow: 1;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
