.resume-root {
	/* border: 5px solid red; */
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.resume-header {
}

.resume-bottom {
	flex-grow: 1;
	align-self: center;
	position: absolute;
	margin-top: 5%;
	box-shadow: 10px 10px 50px;
}

.resume-bottom:hover {
	webkit-filter: blur(2px); /* Chrome, Safari, Opera */
	filter: blur(2px);
	cursor: pointer;
}
