
/*
    Color Pallete: Cool vs Warm
        Colors:
            Navy Blue: #18121e
            Gunmetal: #233237
            Rusty Red: #984b43
            Warm Yellow: #eac67a

    Color Pallete: Baku 2015
        Colors:
            Purple: #300032
            Black: #06000a
            Red: #c43235
            White-grey: #e6e6e8

    Color Pallete: Nissan
        Colors:
            Grey: #bdbec0
            Orange: #c95c3f
            black: #191b1e

    Debuggin snippet:
        border: #c43235 solid 1px

*/

/*
  Global document styles
*/

/*
    General html fix
*/
html {
    box-sizing: border-box;
    
}

*, *:before, *:after {
    box-sizing: inherit;
}
  

body {
    margin: 0;  
    background: #ffffff;
    color: #474b4f;
    font-family: 'Encode Sans Condensed';
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
    text-align: center;
}


/* 
    header
*/

.header-nav {
    min-width: 100%;   
    background: #06000a;
    font-family: 'Encode Sans Condensed';
    font-size: 20px;
    padding: 5px; 
    display: flex;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.logo {
    padding: 0px;
    margin-left: 5px;
    /* float: left; */
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
}

.header-nav nav {
    /* float: right; */
    justify-content: flex-end;
}

.header-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.header-nav ul li {
    justify-content: flex-end;
    text-align: center;
    padding: 25px 20px;
    list-style: none;
}

.header-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #e6e6e8;
    padding: 0;
    font-size: 18px; 
}

.header-nav a:hover{
    color: #c43235;
}

/* 
    footer
*/

.footer-nav {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    margin: 0;
    background: #06000a;
    padding: 1vh;
    display: flex;
    justify-content: center;
}

.footer-nav a {
    font-family: 'Encode Sans Condensed';
    font-size: 18px;
    text-decoration: none;
    color: #e6e6e8;
    padding: 0px 30px;
}

.footer-nav a:hover {
    color: #c43235;
}

/*
    Page content styles
*/

/*
    other styles
*/ 
