/*
    Color Pallete: Cool vs Warm
        Colors:
            Navy Blue: #18121e
            Gunmetal: #233237
            Rusty Red: #984b43
            Warm Yellow: #eac67a

    Color Pallete: Baku 2015
        Colors:
            Purple: #300032
            Black: #06000a
            Red: #c43235
            White-grey: #e6e6e8

    Color Pallete: Nissan
        Colors:
            Grey: #bdbec0
            Orange: #c95c3f
            black: #191b1e

    Color Palette: Material
        Colors:
            Light grey: #BDBDBD
            Dark grey: #757575
            Black: #212121


    Debuggin snippet:
        border: #c43235 solid 1px

*/

/*
  Global document styles
*/

/*
    General html fix
*/

html {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #ECEFF1;
}

body {
    margin: 0;
    color: #222f3e;
    font-family: 'Nanum Gothic';
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

main {
    height: 100%;
    text-align: center;
}

/*
    side nav
*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #06000a;
    /* Black*/
    overflow-x: hidden;
    overflow-y: hidden;
    /* Disable horizontal and vertical scroll */
    padding-top: 10px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav-link {
    padding: 25px;
    font-size: 25px;
    transition: 0.3s;
    text-decoration: none;
    text-transform: uppercase;
    color: #e6e6e8;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
}

/* 
    header
*/

.header-nav {
    min-width: 100%;
    background: #06000a;
    font-family: 'Roboto Condensed';
    font-size: 20px;
    padding: 5px;
    display: flex;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    padding: 0px;
    margin-left: 5px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
}

.header-nav nav {
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.first-column,
.second-column {
    margin: auto;
}

.nav-link {
    font-size: 100%;
}

.nav-link:hover {
    color: #c43235;
}

/* 
    footer
*/

.footer-nav {
    position: fixed;
    bottom: 0;
    width: 0;
    height: 0;
    margin: 0;
    background: #06000a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: height 0.5s;
}

.footer-nav nav {
    display: flex;
    justify-content: center;
}

.footer-nav nav a {
    font-size: 18px;
    text-decoration: none;
    color: #e6e6e8;
    padding: 0px 20px;
}

.footer-nav a:hover {
    color: #c43235;
}

/*
    Media Queries
*/

@media (max-width: 600px) {
    /*
        Header re-styling
    */
    .nav-link {
        font-size: 90%;
        padding: 12px;
    }

    .nav-container nav {
        flex-direction: column;
    }
    .logo {
        padding: 0px;
        margin-left: 5px;
        min-width: 70px;
        max-width: 70px;
        min-height: 70px;
        max-height: 70px;
    }

    /*
        Body re-styling
    */
    body {
        font-size: 15px;
    }
}

/*
    other styles
*/